.cards{
    margin-top: 15px;
    margin-left: 40px;
    float: left;
    font-family: "Century Gothic";
    margin-bottom: 20px;
}
.course{
    margin-top: 25px;
    margin-left: 40px;
    font-family: "Century Gothic"
}

