.app_wrapper {
    background-color: #F5F5F5;
    min-height: 100vh;
}

.header {
    width: 100vw;
    max-height: 50px;
}

.nav {
    margin-top: 10px;
}

.content {
    background: white;
    width: 90vw;
    min-height: 94vh;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.layer{
    display: flex;
}
